* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #D3CBC0;
    font-family: magnetlight;

}

@font-face {
    font-family: magnetlight;
    src: url(/MagnetTrial-ExtraLight-BF65f3b2c458ace.otf);
}

@font-face {
    font-family: magnetregular;
    src: url(/MagnetTrial-Regular-BF65f3b2c4d8cea.otf);
}

nav {
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0px 8%;
    z-index: 100;
    border-bottom: 0.2px solid #717767;
    background-color: rgba(211, 203, 192, 0.5);
    /* Added transparency */
    backdrop-filter: blur(10px);
}

nav p {
    font-family: magnetlight;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;
    height: 100%;
    line-height: 15px;
}

.logo p span {
    font-weight: 800;
    font-family: magnetregular;
}

.nav-links {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links p {
    font-size: 12px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.button-container {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.credit-text {
    display: flex;
    gap: 5px;
    margin-right: 15px;
}

.credit-text h4 {
    font-family: magnetlight;
    font-size: 12px;
    color: #717767;
}

.cart-svg,
.profile-svg {
    border: 1px solid #403F3D;
    border-radius: 4px;
    padding: 4px;
    font-size: 28px;
    cursor: pointer;
}

main {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: #ddd8c4;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 120px;
    padding-left: 8%;
}

.overlay h1 {
    width: 50%;
    /* font-size: clamp(40px, 5vw, 60px); */
    font-size: 30px;
    font-family: magnetlight;
    margin-bottom: 100px;
}

/* Card Section */
.card-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.card {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
}

.text-container {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text-container p {
    font-size: 26px;
    font-family: magnetlight;
    transition: transform 0.4s ease;
}

.card:hover .text-container p {
    transform: translateY(-100%);
}

.pragaraph-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    bottom: 30%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.card:hover .pragaraph-container {
    opacity: 1;
}

.end {
    margin: 0;
    background-color: red;
    /* color: #000; */
    position: relative;
    bottom: 10;
}

.end h4 {
    color: #000;
    height: 1px;
    /* width: 0px; */

    transition: all ease-in 0.3s;
}

.card:hover .end h4 {
    width: 80%;
}

.para h4 {
    font-size: 11px;
    font-family: magnetlight;
    color: #333;
}

/* Marquee Section */
.marquee {
    height: 100vh;
    width: 100%;
    background-color: #DED9C5;
    position: relative;
    overflow: hidden;
}

.marquee img {
    height: 100%;
    width: 100%;
    scale: 0.5;
    object-fit: cover;
    opacity: 0.8;
}

.marquee-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    top: 0;
}

.marquee-divs {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}

.marquee-divs-bottom {
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marquee-track-top {
    display: flex;
    gap: 40px;
    /* background-color: greenyellow; */
    animation: mark 25s linear infinite;
}

.marquee-track-bottom {
    display: flex;
    /* background-color: greenyellow; */
    gap: 40px;
    animation: markb 25s linear infinite;
}

.marquee-conatiner {
    flex-shrink: 0;
}


.marquee-conatiner h1 {
    font-family: magnetlight;
    font-size: 40px;
}

@keyframes mark {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes markb {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}



/* image section */
.image-container {
    height: 100vh;
    width: 100%;
    background-color: #ddd8c4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}


.cards {
    height: 250px;
    border-radius: 20px;
    width: 250px;
    background-color: aqua;
    z-index: 2;
    transition: all ease-in-out 0.5s;
}

.cards:hover {
    height: 350px;
    width: 350px;
}

.cards {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.text-container {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text-container p {
    font-size: 26px;
    font-family: magnetlight;
    transition: transform 0.4s ease;
}

.cards:hover .text-container p {
    transform: translateY(-100%);
}

.pragaraph-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    bottom: 30%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.cards:hover .pragaraph-container {
    opacity: 1;
}

.end {
    margin: 0;
    background-color: red;
    /* color: #000; */
    position: relative;
    bottom: 10;
}

.end h4 {
    color: #000;
    height: 1px;
    /* width: 0px; */

    transition: all ease-in 0.3s;
}

.card:hover .end h4 {
    width: 80%;
}

.para h4 {
    font-size: 11px;
    font-family: magnetlight;
    color: #333;
}




.cards1:hover~.img1 {
    opacity: 1;
}

.cards2:hover~.img2 {
    opacity: 1;
}

.cards3:hover~.img3 {
    opacity: 1;
}

/* 
@media (min-width:640px) {
    .overlay h1{
        width: 50%;
        font-size: 50px;
        font-family: magnetlight;
        margin-bottom: 100px;
    }
}
@media (min-width:768px) {
    .overlay h1{
        width: 50%;
        font-size: 70px;
        font-family: magnetlight;
        margin-bottom: 100px;
    }
}
@media (min-width:1024px) {
    .overlay h1{
        width: 50%;
        font-size: 80px;
        font-family: magnetlight;
        margin-bottom: 100px;
    }
}
@media (min-width:1280px) {
        .overlay h1{
        width: 50%;
        font-size: 90px;
        font-family: magnetlight;
        margin-bottom: 100px;
    }
}
@media (min-width:1536px) {
    .overlay h1{
        width: 50%;
        font-size: 200px;
        font-family: magnetlight;
        margin-bottom: 100px;
    }
} */

.comitted {
    height: 100vh;
    width: 100%;
    background-color: #fffdf5;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    /* position: relative; */
}

.headline {
    /* background-color: blue; */
    height: calc(100%/3);
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.headline h1 {
    font-family: magnetlight;
    font-size: 60px;
}

.headline p {
    font-size: 20px;
    font-family: magnetlight;
}

.part1 {
    display: flex;
    align-items: center;
    /* background-color: turquoise; */
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    width: 100%;
}

.part1 h1 {
    top: 30px;
    font-size: 50px;
    /* background-color: red; */
    font-family: magnetlight;

}

.part2 {
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    padding-left: 20px;
    gap: 30px;
    /* padding-top: 60px; */
    /* background-color: greenyellow; */
}

.part2 p {
    font-size: 25px;
    font-family: magnetlight;
}

.part2 button {
    /* height: px; */
    width: 90px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: magnetlight;
    border-radius: 5px;
    left: 50px;
}

/* .comitted h1{
    height: 1px;
    width: 100%;
} */




.mission {
    height: calc(100%/3);
    width: 100%;
    display: flex;
    /* padding-top: 25px; */
    /* padding-bottom: ; */
    /* background-color: red; */
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid black;

}

.mission .part1 {
    display: flex;
    justify-content: start;
    /* background-color: #717767; */

}

.part1 li {
    margin-left: 30px;
    font-size: 40px;
    font-family: magnetlight;

}

.vission {
    height: calc(100%/3);
    width: 100%;
    display: flex;
    /* padding-top: 25px; */
    /* padding-bottom: ; */
    /* background-color: red; */
    padding-left: 100px;
    padding-right: 100px;
    /* border-bottom: 1px solid black; */
}

.vission .part1 {
    display: flex;
    justify-content: start;
    /* background-color: #717767; */

}

.part1 li {
    margin-left: 30px;
    font-size: 40px;
    font-family: magnetlight;

}

.products {
    /* height: 100vh; */
    width: 100%;
    background-color: #fffdf5;
}

.products .top {
    display: flex;
    /* background-color: greenyellow; */
    height: 10%;
    width: 100%;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    font-family: magnetlight;

}

.top button {
    padding: 10px;
    font-family: magnetlight;

    background-color: #fffdf5;
    border-radius: 5px;
    border-width: 0.5px;
}

.product-container {
    height: 50vh;
    width: 100%;
    font-family: magnetlight;
    gap: 20px;
    background-color: #fffdf5;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;

}

.product-card {
    height: 400px;
    width: 350px;
    /* background-color: greenyellow; */
    display: flex;
    font-family: magnetlight;

    border-radius: 5px;
    flex-direction: column;
}


.over-img {
    position: relative;
    overflow: hidden;
    font-family: magnetlight;
    border-radius: 5px;

}

.new {
    position: absolute;
    right: -10px;
    top: 30px;
    background-color: #616959;
    rotate: 90deg;
    color: white;
    padding: 5px;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.new h1 {
    font-size: 20px;
    font-family: magnetlight;

}

.over-img img {
    width: 100%;
    border-radius: 5px;
    transition: all ease-out 0.5s;
}

.info {
    position: absolute;
    bottom: -50px;
    font-family: magnetlight;

    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 15px;
    /* left: 5px; */
    transition: bottom 0.4s ease;
}

.product-card:hover .info {
    bottom: 0;
}

.over-img:hover img {
    scale: 1.2;

}

.info button {
    padding: 5px 15px;
    cursor: pointer;
    font-family: magnetlight;

    border: 1px solid #333;
    background: rgba(255, 255, 255, 0);
    transition: 0.2s;
}

.info button:hover {
    background: #000;
    color: #fff;
}

.prices {
    font-family: magnetlight;

}

.prices span {
    font-size: 23px;
    font-family: magnetlight;
    font-weight: 400px;

}





/* custom soutions */
.custom {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #192b23;

}

.upper {
    height: 60%;
    display: flex;
    /* background-color: red; */
    padding-left: 100px;
    border-bottom: 1px solid white;
    /* padding-bottom: 60px; */
}

.lower {
    /* top: 30px; */
    /* height: calc(100% - 60%); */
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    /* background-color: #192b23; */
}

.bottom {
    /* height: calc(100%-90%); */
    /* height: 5vh; */
    border-top: 1px solid white;
    background-color: #000;
    width: 100%;
}

.solution {
    /* background-color: greenyellow; */
    padding: 30px;
    gap: 30px;
    display: flex;
    color: white;
    padding-top: 50px;
    font-family: magnetlight;

    flex-direction: column;
    /* justify-cont192b23ent: space-between; */
    height: 100%;
    width: 70%;
}

.solution h2 {
    font-size: 30px;
}

.solution h1 {
    font-size: 60px;
}

.pac-img {
    height: 100%;
    width: 50%;

}

.pac-img img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.custom-mark {
    color: white;
    padding: 5px;
    /* border-bottom: 1px solid white; */
}

.custom-mark h1 {
    font-size: 40px;
}

/* ----------------- */

.factory {
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    padding-left: 100px;
    padding-right: 100px;
    /* justify-content: space-between; */
    font-family: magnetlight;

}

.fact {
    display: flex;
    /* display: flex; */
    height: 10vh;
}

.fact-top {
    width: calc(100%/2);
    height: 100%;
    display: flex;
    align-items: center;
    font-family: magnetlight;
    /* background-color: red; */
}

.fact-desc {
    width: calc(100%/2);
    font-family: magnetlight;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: greenyellow; */
}

.list {
    display: flex;
    height: 50%;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    /* background-color: aqua; */
}

.list-1 {
    height: 100%;
    width: calc(100%/2);
    padding: 20px;
    /* background-color: #fff; */
}

.fact-item {
    /* background-color: red; */
    padding-top: 10px;
    /* border-bottom: 0.5px solid black; */
}

.list-1 li {
    padding-bottom: 10px;
    border-bottom: 0.5px solid black;

}

.list-2 li {
    padding-bottom: 10px;
    border-bottom: 0.5px solid black;

}

.list-2 {
    height: 100%;
    width: calc(100%/2);
    background-color: red;
}


.faq {
    height: 55vh;
    width: 100%;
    font-family: magnetlight;

    display: flex;
    background-color: #eae7dd;
}

.faq-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 30%;
    /* background-color: #000; */
    padding: 100px;
    /* color: #ffff;  */

}

.faq-right {
    height: 100%;
    width: 70%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* color: #ffff; */
    /* background-color: aqua; */
}

.faq-left button {
    /* top: 60px; */
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 90px;
}


.faq-ques {
    /* background-color: orange; */
    display: flex;
    border-top: 1px solid black;
    padding-top: 10px;
    justify-content: space-between;
}

.ques {
    padding-top: 5px;
    transition: all ease-out 0.3s;
}

.add {
    font-size: 40px;
    transition: all ease-out 0.3s;
}

.faq-ques:hover .ques {
    /* background-color: red; */
    padding-left: 10px;
}

.faq-ques:hover .add {
    font-weight: 500px;
    scale: 1.2;
    text-decoration: bold;
}



.end-section{
    /* height: 90vh; */
    width: 100%;
    background-color: #ded9c5;
    padding-left: 150px;
    padding-right: 150px;
}
.end-sec-top{
    padding-top: 100px;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}
/* .end-sec-top{ */
    /* height: 10%; */
    /* width: 100%; */
    /* background-color: red; */
/* } */
.end-top-title{
    /* display: flex; */
    padding-top: 20px;
    /* align-items: center; */
    /* justify-content: start; */
    height: 100%;
    width: 60%;
    font-size: 30px;
    /* background-color: red; */
}
.end-top-button{
    height: 100%;
    width: 40%;
    /* padding-right: ; */
    /* padding-top: 40px; */
    display: flex;
    justify-content: end;
    /* background-color: greenyellow; */
}
.arrow{
    height: 50px;
    width: 50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    justify-content: center;
    rotate: 180deg;
}
/* .arrow p{ */
    /* background-color: transparent; */
    /* border-radius: 12px; */
    /* padding: 20px; */
    /* border: 1px solid black; */
/* } */
.end-bottom{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding-top: 30px; 
    padding-bottom: 30px; 
    gap: 30px;
}

.end-bottom-card-cont{
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.end-bottom-card{
    height: 300px;
    width: 300px;
    /* background-color: greenyellow; */
    border: 1px solid #192b23;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_sep{
    border: none;
}
.card_sep svg{
    height: 100%;
    width: 100%;

}

.social{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding: 10px;
    justify-content: space-between;
}
.social-left{
    font-size: 20px;
    display: flex;
    align-items: center;

}
.social-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-media{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 200px;
}





.card-title-overlay1, .card-title-overlay2, .card-title-overlay3 {
    /* background-color: #f4f4f4;*/
    position: relative;
    width: 100%;
    height: 45px;
    overflow: hidden; 
}

.card-title-top1, .card-title-top2, .card-title-top3, .card-title-bottom1, .card-title-bottom2, .card-title-bottom3 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.card-title-top1, .card-title-top2, .card-title-top3 {
    top: 0;
}

.card-title-bottom1, .card-title-bottom2, .card-title-bottom3 {
    top: 100%; 
}

.card_sep1:hover .card-title-top1 {
    top: -100%; 
}
.card_sep2:hover .card-title-top2 {
    top: -100%; 
}
.card_sep3:hover .card-title-top3 {
    top: -100%; 
}
.card_sep1:hover .card-title-bottom1 {
    top: 0; 
    color: white;
}
.card_sep2:hover .card-title-bottom2 {
    top: 0; 
    color: white;
}
.card_sep3:hover .card-title-bottom3 {
    top: 0; 
    color: white;
}
.card-title-overlay1 h1 {
    /* font-size: 1.2rem; */
    margin: 0;
}
.card-title-overlay2 h1 {
    /* font-size: 1.2rem; */
    margin: 0;
}
.card-title-overlay3 h1 {
    /* font-size: 1.2rem; */
    margin: 0;
}

.card_sep1:hover {
    background: url("https://yucca.co.za/wp-content/uploads/2025/09/service.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 90px;
    transition: all 0.5s ease-in-out; 
}
.card_sep2:hover {
    background: url("https://yucca.co.za/wp-content/uploads/2025/09/processing.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 90px;
    transition: all 0.5s ease-in-out; 
}

.card_sep3:hover {
    background: url("https://yucca.co.za/wp-content/uploads/2025/09/Agriculture.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 90px;
    transition: all 0.5s ease-in-out; 
}
